html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: monospace;
  margin: 0;
}

nav {
  border: 4px solid black;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: black;
}

.app {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.graph {
  border: 4px solid black;
  height: 40rem;
  width: 40rem;
}

.svg-container {
  width: 100%;
  height: 100%;
}

.vector-graph-svg {
  height: 100%;
  width: 100%;
}

.controls {
  border: 4px solid black;
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.control {
  display: flex;
}

.control label {
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-right: auto;
}

.control input {
  font-size: 1.6rem;
  text-align: end;
}

.control input[type="range"] {
  width: 20rem;
  cursor: pointer;
  margin-right: 1rem;
}


@media screen and (orientation:landscape) and (max-width: 1024px) {}

@media screen and (orientation:portrait) {}