/* GLOBALS */
body {
  font-size: 100%;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

section {
  border: 4px solid black;
  padding-top: 10em;
  width: 100%;
  min-height: 90vh;
}

/* NAVBAR */
nav {
  border: 4px solid black;
  background-color: white;
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  font-size: xx-large;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a {
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* VORTEX GRAPH MAKER */
#vortex-maker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vortex-interface {
  /* border: 4px solid black; */
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.vortex-graph {
  border: 2px solid black;
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.svg-container {
  width: 100%;
  height: 100%;
}

.vector-graph-svg {
  height: 100%;
  width: 100%;
}

.vortex-controls {
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.vortex-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vortex-control label, input {
    font-size: large;
}

.vortex-control input[type="number"] {
  width: 4em;
}

.vortex-control input[type="range"] {
  width: 12em;
}

.vortex-info {
  width: 60vw;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vortex-info button {
  font-size: x-large;
}


/* ABOUT */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vortex-video {
  border: 2px solid black;
  width: 80vw;
  height: 60vh;
}

.iframe-container {
  width: 100%;
  height: 100%;
}

.iframe-video {
  width: 100%;
  height: 100%;
}

#contact {
  text-align: center;
}

@media screen and (orientation:landscape) and (max-width: 1024px){
  nav {
    font-size: large;
  }

  .vortex-interface {
    flex-direction: row;
    width: 100%;
    gap: 2em;
  }

  .vortex-graph {
    width: 100%;
    height: 60;
  }

  .vortex-controls {
    width: 100%;
    height: 60vh;
  }

  .vortex-info {
    width: 90vw;
    font-size: x-large;
  }

  .vortex-info button {
    font-size: x-large;
  }
}

@media screen and (orientation:portrait) {
  nav {
    font-size: large;
  }

  .vortex-interface {
    flex-direction: column;
    width: 100%;
    gap: 2em;
  }

  .vortex-graph {
    width: 100%;
    height: 60%;
  }

  .vortex-controls {
    width: 100%;
    height: 60%;
  }

  .vortex-info {
    width: 90vw;
    font-size: x-large;
  }

  .vortex-info button {
    font-size: x-large;
  }
}
